@{
    ViewData["Title"] = "Home Page";
}

<div class="tab-pane" id="description">
    <div class="row">
        <h4 class="info-text"> Drop us a small description </h4>
        <div class="col-sm-6 col-sm-offset-1">
            <div class="form-group">
                <label>Boat description</label>
                <textarea class="form-control" placeholder="" rows="9">
                                        </textarea>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Example</label>
                <p class="description">"The boat really nice name is recognized as being a really awesome boat. We use it every sunday when we go fishing and we catch a lot. It has some kind of magic shield around it."</p>
            </div>
        </div>
    </div>
</div>
