
@{
    ViewData["Title"] = "Reserve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-pane" id="captain">
    <h4 class="info-text">Do you include a captain? </h4>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Renters you approve will be able to take this boat">
                    <input type="radio" name="job" value="Design">
                    <div class="icon">
                        <i class="fa fa-life-ring"></i>
                    </div>
                    <h6>No Captain</h6>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you or a certified captain will be included.">
                    <input type="radio" name="job" value="Code">
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                    <h6>Includes Captain</h6>
                </div>
            </div>
        </div>
    </div>
</div>

